!!!
%html
  %head
    %title Is It My Birthday?
    %link(rel="stylesheet" href="css/bootstrap.css")
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a(href='/' class='brand') IsItMyBirthday?

    .content
      .container
        .page-header
          %h1 Hello, Bootstrap!

    %script(type="text/javascript" src="js/jquery-1.8.1.min.js")
    %script(type="text/javascript" src="js/bootstrap.js")
